<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="convo.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convo Bot</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='loogo.png') }}" alt="Logo">
        </div>
        <div class="rectangle"></div>
        <div class="links">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            <a class="nav-link" onclick="location.href='{{ url_for('home') }}#section4'">About</a>
        </div>
    
    
</body>
</html>